@media (min-width: 360px) {
	html, body {
		height: 100%;
	}
	#head {
		display: flex;
		width: 100%;
		height: 20%;

	}

	.titulo {
		margin-left: 10%;
		margin-top: 12%;
		width: 40%;
		height: 200px;
		line-height: 199px;
		font-size: 80px;
	}

	.imagem {
		margin-top: 12%;
		width: 20%;
		margin-left: 15%;
	}

	.imagem img {
		margin-right: 10px;
		border-radius: 150px;
	}

	#botao {
		
		position: relative;
		width: 160px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: transparent;
		overflow: hidden;
		border-radius: 30px;
		left: 100px;
		
	}

	#botao::before {
		content: '';
		position: absolute;
		width: 30px;
		height: 200px;
		border-radius: 20px;
		background: linear-gradient(red, rgb(217, 37, 103));
		animation: animate 4s linear infinite;

	}

	#botao::after {
		content: '';
		position: absolute;
		inset: 4px;
		background: white;
		border-radius: 20px;
		
	}

	#botao h2 {
		color: rgb(217, 37, 103);
		z-index: 10;
	}

	#botao:hover {
		cursor: pointer;
	}

	@keyframes animate{
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

}