@media only screen and (max-width: 1025px){
	
	body{
		margin: 0;
		width: 100%;
		height: 100vh;
		
	}

	#container {
		width: 50%;
		height: 40%;
		background: skyblue;
		display: flex;
	}
}

@media only screen and (max-width: 769px){

	body{
		margin: 0;
		width: 100%;
		height: 100vh;
		
	}
	
	#container {
		width: 80%;
		height: 40%;
		background: yellow;
	}
}

@media only screen and (max-width: 430px){

	html {
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	body{
		background-image: url("back.jpeg");
		
		overflow: hidden;
		
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		
		
	}

	body::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 146, 145, 0.3);
	}


	
	#container {
		top: 35%;
		width: 85%;
		height: 38%;
		background-color: rgba(0, 146, 145, 0.5);
		border-radius: 15px;
		display: flex;
		justify-content: center;
		
		position: relative;
		
	}

	.imagem img {
		border: 4px solid transparent;
		box-shadow: 0 0 0 3px white;
		border-radius: 80px;

		position: absolute;
		left: 0;
		right: 0;
		top: -20%;
		margin: 0 auto;
		width: 100px;

	}

	.square {
		margin: 32% 5px;
		width: calc((85% - 10px) / 3);
		height: 30%;
		background-color: rgba(3, 150, 166, 0.8);
		border-radius: 10px;
		border-bottom: 5px solid #0396a6;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		text-align: center;
		
	}

	.square img {
		width: 45%;
		margin-top: 15%;
		
		
	}
	

	a > p {
		font-size: 0.6em;
		margin-top: 5px;
		width: 100%;
		color: white;
	}



	#triangle {
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 0;
	  height: 0;
	  border-top: 70px solid #0396a6;
	  border-right: 70px solid transparent;
	  border-bottom: 70px solid transparent;
	  border-left: 70px solid #0396a6;
	}

	#triangle2 {
	  position: fixed;
	  top: -5px;
	  left: -5px;
	  width: 0;
	  height: 0;
	  border-top: 70px solid #012e40;
	  border-right: 70px solid transparent;
	  border-bottom: 70px solid transparent;
	  border-left: 70px solid #012e40;
	}

	#triangle3 {
	  position: fixed;
	  bottom: 0;
	  right: 0;
	  width: 0;
	  height: 0;
	  border-top: 70px solid transparent;
	  border-right: 70px solid #0396a6;
	  border-bottom: 70px solid #0396a6;
	  border-left: 70px solid transparent;
	}

	#triangle4 {
	  position: fixed;
	  bottom: -5px;
	  right: -5px;
	  width: 0;
	  height: 0;
	  border-top: 70px solid transparent;
	  border-right: 70px solid #012e40;
	  border-bottom: 70px solid #012e40;
	  border-left: 70px solid transparent;
	}
	





	



}